# SQL STATEMENTS

In [ ]:
SELECT date,count(customer_id),sum(salary) FROM table1

WHERE
AND age = 23
AND name LIKE 'P%'
AND name LIKE '%ames%'
AND created_on < "2017-01-01" AND (canceled_on IS NULL OR canceled_on >= '2016-03-01')
AND food IN ('apple','banana','carrot')

GROUP BY customer_id
HAVING count(customer_id) > 1
ORDER BY date ASC
LIMIT 100

In [ ]:
SELECT DISTINCT customer_id FROM table1 AS t1
INNER JOIN table2 AS t2
ON t1.customer_id = t2.customer_id

In [ ]:
DATE_FORMAT("2017-06-15", "%Y-%m");

# SQL CONNECTORS

### Psycopg2

In [2]:
import pandas as pd
import psycopg2

In [3]:
# critera
hostname = '123.compute-1.amazonaws.com'
username = '123'
password = '123'
database = 'db'

In [ ]:
# connection
conn = psycopg2.connect(host=hostname,
                        user=username,
                        password=password,
                        dbname=database,
                        sslmode='require')
cur = conn.cursor()

In [34]:
# sql query
query = '''
SELECT date, COUNT(account_id) FROM table1
WHERE account_id != 1
GROUP BY date
ORDER BY date
LIMIT 100
'''

In [ ]:
# create df
df = pd.read_sql_query(query, conn)
df

### Pymysql

In [ ]:
# ssh -N -L 1234:123.0.0.1:123 pchen_@metricsdb.domain.com
import pymysql
import pandas as pd

In [ ]:
# critera
hostname = '123.compute-1.amazonaws.com'
username = '123'
password = '123'
database = 'db'

In [ ]:
# connection
conn = pymysql.connect(host = hostname,
                     use r= username,
                     passwd = password,
                     db= database,
                     port = 3307)

In [ ]:
# sql query
query = '''
SELECT date, COUNT(account_id) FROM table1
WHERE account_id != 1
GROUP BY date
ORDER BY date
LIMIT 100
'''

In [ ]:
# create df
df = pd.read_sql_query(query,conn)