# Psycopg2

In [2]:
import pandas as pd
import psycopg2

In [3]:
# critera
hostname = '123.compute-1.amazonaws.com'
username = '123'
password = '123'
database = 'db'

In [ ]:
# connection
conn = psycopg2.connect(host=hostname,
                        user=username,
                        password=password,
                        dbname=database,
                        sslmode='require')
cur = conn.cursor()

In [34]:
# sql query
query = '''
SELECT date, COUNT(account_id) FROM table1
WHERE account_id != 1
GROUP BY date
ORDER BY date
LIMIT 100
'''

In [ ]:
# create df
df = pd.read_sql_query(query, conn)
df

# Pymysql

In [ ]:
# ssh -N -L 1234:123.0.0.1:123 pchen_@metricsdb.domain.com
import pymysql
import pandas as pd

In [ ]:
# critera
hostname = '123.compute-1.amazonaws.com'
username = '123'
password = '123'
database = 'db'

In [ ]:
# connection
conn = pymysql.connect(host = hostname,
                     use r= username,
                     passwd = password,
                     db= database,
                     port = 3307)

In [ ]:
# sql query
query = '''
SELECT date, COUNT(account_id) FROM table1
WHERE account_id != 1
GROUP BY date
ORDER BY date
LIMIT 100
'''

In [ ]:
# create df
df = pd.read_sql_query(query,conn)